* {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
}

h3 {
    font-size: 100px;
}

td {
    width: 16.5%;
    border: white solid 3px;
}

.file-input{
    width: 50%;
}

.img-holder {
    background-color: white;
}

tr.table-header td {
    height: 60px;
    background: white;
    color: black;
}

tr.table-header td.invisible {
    color: black;
    background-color: black;
    border-color: black;
}

.invisible {
    color: black;
    background-color: black;
    border-color: black;
}

input {
    height: 160px;
    width: 100%;
    border: none;
}

.small-input {
    height: auto;
    width: 100%;
}

select {
    height: 160px;
    width: 100%;
}

img {
    height: 150px;
    background-color: white;
}